apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: {{NAMESPACE}}-dev

resources:
  - ../../base

commonLabels:
  environment: dev

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: {{PROJECT_NAME}}

configMapGenerator:
  - name: {{PROJECT_NAME}}-config
    behavior: merge
    literals:
      - LOG_LEVEL=debug
      - ENVIRONMENT=dev
