apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: {{NAMESPACE}}-staging

resources:
  - ../../base

commonLabels:
  environment: staging

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
    target:
      kind: Deployment
      name: {{PROJECT_NAME}}

configMapGenerator:
  - name: {{PROJECT_NAME}}-config
    behavior: merge
    literals:
      - LOG_LEVEL=info
      - ENVIRONMENT=staging
